---
title: "Microsoft starts rolling out Xbox age verification in the UK"
date: 2025-07-28T17:29:38+08:00
categories: ["tech"]
tags: ["Gaming", "Microsoft", "News", "Policy", "Privacy", "Tech", "Xbox"]
summary: "Microsoft is starting to comply with the UK’s Online Safety Act by prompting Xbox players to verify their age today. The prompts will be shown to Xbox players who indicate they’re over the age of 18 a"
source_url: "https://www.theverge.com/news/714458/microsoft-xbox-age-verification-uk-social-features"
---

Microsoft is starting to comply with the UK’s Online Safety Act by prompting Xbox players to verify their age today. The prompts will be shown to Xbox players who indicate they’re over the age of 18 and will be shown when you sign into an Xbox account in the UK. Microsoft says it’s also exploring [&#8230;]

---

*来源: [原文链接](https://www.theverge.com/news/714458/microsoft-xbox-age-verification-uk-social-features)*
